/*===================================================
                    footer AREA
====================================================*/

.footer {
    padding-top: 60px;
    background-color: #181818;

    .footer-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .smart-pest {

            .icon-title {
                margin-bottom: 55px;
                display: flex;

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border: 1px solid #444444;
                    border-radius: 500px;
                    margin-right: 10px;
                    color: #000;
                    margin-top: -15px;
                    background-color: $primary;
                    font-size: 22px;
                }

                h1 {
                    font-size: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .dis {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    line-height: 26px;
                    color: #767676;

                }
            }
            .social-link {

                ul {

                    li {

                        a {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                        color: #767676;

                        &:hover {
                            color: $primary;
                        }                       

                        }
                    }
                }
            }
        }
        .usefulllink {
            margin-left: 20px;

            .use-title {
                margin-bottom: 55px;

                h1 {
                    font-size: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .link {

                ul {

                    li {

                        a {
                            font-size: 16px;
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 26px;
                            color: #767676;
                            text-decoration: none;
                            
                        }
                    }
                }
            }
        }
        .recentnews {

            .news-title {
                margin-bottom: 55px;

                h1 {
                    font-size: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .sin-news {
                display: grid;
                grid-gap: 30px;
                grid-template-columns: repeat(3, 1fr);


                .news-ing {
                    margin-bottom: 40px;
                    grid-column: 1/2;
                }
                .news-text {
                    grid-column: 2/-1;
                    margin-bottom: 40px;

                    h3 {
                        font-size: 16px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        line-height: 22px;
                        color: #fff;
                    }
                    p {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                        color: #767676;

                    }

                }
            }
        }
        .services {
            margin-left: 20px;

            .ser-title {
                margin-bottom: 55px;

                h1 {
                    font-size: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .service {

                ul {

                    li {
                        p {
                            font-size: 16px;
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 26px;
                            color: #767676;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 20px 0;
        background-color: #000;

        .copyright-goto {
            position: relative;
            
            .copyright {

                p {
                    font-size: 16px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    line-height: 26px;
                    color: #767676;

                    span {
                        color: $primary;
                    }

                }
            }
            .goto-top {
                position: absolute;
                right: 0;
                bottom: 0;
                text-align: center;
                

                i {
                    color: $primary;
                    font-size: 12px;
                }
                p {
                    font-size: 12px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 900;
                    color: $primary;
                    line-height: 0;
                }
            }
        }
    }
}