/*===================================================
                 Our Team AREA
====================================================*/

.our-team {
    padding: 100px 0;

    .heading-team {

        .title {

            h1 {}
        }
        .discription {
            margin-bottom: 65px;

            p {}
        }

    }
    .members {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;

        .member {
            position: relative;

            &:hover {

                .member-dit .icon {
                    padding: 29px 10px;
                }

                .member-dit .social-link {
                    opacity: 1;
                    z-index: 999;

                }
                .member-dit .name-pos {
                    position: absolute;
                    top: 0px;
                    bottom: 25%;
                    right: 0;
                    left: 0px;
                    background: #403f3f99;
                    padding: 0px;
                    display: grid;
                    grid-template-rows: repeat(12, 1fr);   
                    text-align: center;

                    h3 {
                        color: #fff;
                        grid-row: 6;
                    }
                    p {
                        color: #fff;
                        grid-row: 7;                        }
                .member-img {
                }


                }
            }

            .member-img {

                img {
                    width: 100%;
                }
            }
            .member-dit {
                border: 1px solid #949393;
                /*margin-right: 15px;*/
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                .name-pos {
                    padding: 20px 30px;
                    grid-column: 1/5;
                    display: block;
                    transition: all 0.5s ease;


                    h3 {
                        font-size: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        color: #000;
                    }
                    p {
                        font-size: 16px;
                        font-family:'Lato', sans-serif;
                        font-weight: 400;
                        color: #272727;
                        line-height: 26px;
                    }
                }
                .icon {
                    grid-column: 5/-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary;
                    padding-right: 10px;
                    padding-left: 10px;

                    i {
                        font-size: 30px;
                        color: #fff;
                    }
                }
                .social-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 32px 15px;
                    grid-column: 1/5;
                    position: absolute;
                    opacity: 0;
                    transition: all 0.5s ease;


                    ul {
                        padding-left: 0;
                        margin-left: -5px;
                        list-style: none;
                        grid-column: 1/-1;

                        li {

                            &:hover a{
                                color: #dd0;
                                border: 2px dashed #dd0;
                            }

                            a {
                                font-size: 16px;
                                color: #707070;
                                padding: 7px;
                                border: 2px solid #707070;
                                transition: all 0.5s ease;

                                i {}
                            }
                        }
                    }
                }
            }
        }
    }
    .load-more {
        text-align: center;
        padding: 30px 0;
        margin-top: 45px;

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: 24px;
            color: #000;
            background-color: #dd0;
            padding: 15px 30px;
            border-radius: 30px;
        }
    }
    
}