$primary: #ddbb00;
$gray: #ddd;
%sec-title{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 24px;
}
%sec-dis {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 26px;
}
$grayborder: 1px solid #ddd;