
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/*
=====================================================
                      COMMON AREA
====================================================*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, div, span, img, ol, ul, li, a, p, h1, h2, h3, h4, h5, h6, option, legend, label, table, th, td, tr, article, aside, caption, figure, footer, header, hgroup, mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-weight: 400; }

  .section-all {
    overflow: hidden;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.about-content.slick-slide  {
    border: 0px!important;
}

.slick-prev,
.slick-next {
    width: 65px;
    background: #272727;
    border-bottom: 10px solid #ddbb00;
    height: 100px;
    word-break: break-word;
    padding: 19px;
    z-index: 9999;
}
.taj .slick-prev {
    &:before {
        content: 'PREV';
    }
}
.taj .slick-next {
    &:before {
        content: 'NEXT';
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #272727;
}

.com-heading-style {
    text-align: center;
    .title {
        text-align: center;
        position: relative;
        display: inline-block;
        &:after,
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 24px;
            background-color: #ddbb00;
        }
        &:before {
            left: -30px;
            bottom: 16px;
        }
        &:after {
            right: -30px;
            bottom: 16px;
        }
        h1 {
            font-size: 32px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: 24px;
            position: relative;
            display: inline-block;
            &:after,
            &:before {
                content: "";
                position: absolute;
                height: 20px;
                width: 1px;
                background-color: #ddbb00;
            }



            &:before {
                left: -6px;
                bottom: 2px;
            }
            &:after {
                right: -6px;
                bottom: 2px;
            }
        }
    }
    .discription {
        text-align: center;
        margin: 60px 170px 30px;
        p {
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            line-height: 26px;
            
        }
    }
}

  /*===================================================
                      HEADER AREA
  ====================================================*/

.header {
    position: relative;
    .top-bar {
      background-color: #202020;
      .logo {
        background-color: #ddbb00;
        position: relative;
        padding: 20px 0 40px;
        a{
            &.navbar-brand {
                height: inherit;
                float: none;
                padding: 0;
            }
        }
        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 100%;
            background: #ddbb00;
            height: 100%;
            width: 10000px;
        }
      }
      .quick-contact {
            transform: translateY(20px);
        li {
          display: inline-flex;
          align-items: center;
          padding: 0px;
          &.phone {
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 1px;
                height: 100%;
                background: #ddd;
                z-index: 999;
            }
            &:before {
                left: 15px;
            }
            &:after {
                right: 15px;
            }
          }
          .icon{
            height: 42px;
            width: 42px;
            border: 2px solid #4a4a4a;
            border-radius: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ddbb00;
            margin-right: 10px;
            span {}
          }
          a {
            color: #fff;
            &:hover,
            &:focus {
                text-decoration: none;
                color: #ddbb00;
            }
          }
        }
      }
    }
    .navbar {
        position: absolute;
        bottom: -57px;
        border: 0px;
        width: 100%;
        display: block;
        min-height: initial;
        border-radius: 0;
        z-index: 999999;
        .navbar-header {
            .logo {
                a{}
            }
        }
        .collapse {
            &.navbar-collapse {
                background-color: #fff;
                display: flex!important;
                justify-content: space-between;
                padding: 0;
                &:before,
                &:after {
                    content: none;
                }
            }
            ul {
                li {
                    &.active {
                        a{
                            color:#ddbb00;
                        }

                        }
                    &.search {
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            background: #ddd;
                            width: 1px;
                            height: 60%;
                            bottom: 13px;
                            right: 0;
                        }
                    }
                    a {
                        color: #202020;
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        padding: 25px 15px;
                        transition: all 0.5s ease;
                        &:hover,
                        &:focus{
                            background-color: #ddd;
                        }
                        span {
                            &.app{
                                margin-left:5px;
                            }
                        }
                    }
                    &.appointment{
                        background-color: #ddbb00;
                    }
                }
            }
        }
    }
}

 /*===================================================
                      BANNER AREA
  ====================================================*/

.banner {
    .slick-next {
        right: 0;
        z-index: 999;
    }

    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .banner-img {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 250px;
        .banner-content {
            h1 {
                font-size: 60px;
                font-family: 'Montserrat', sans-serif;
                font-weight:700;
                color: #fff;
                line-height: 70px;
                padding-bottom: 20px;
                span {
                    color:#ddbb00;
                }
            }
            p {
                font-size: 30px;
                font-family: 'Lato', sans-serif;
                line-height: 24px;
                color: #fff;
                font-weight: 700;

            }
            .btn {
                    margin-top: 50px;
                &.ban-btn {
                    background: #ddbb00;
                    border-radius: 30px;
                    a {
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 16px;
                        line-height: 23px;
                        font-weight: 700;
                        color: #000;
                        padding: 10px;
                    }
                }
            }
        }
        .apnt-form {
            margin-top: 150px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 65px 0;
            form {
                .input-group {
                    display: inline-block;
                }
                input[type="text"],
                input[type="email"],
                input[type="number"] {
                    border-bottom: 3px solid #db0;
                    padding: 12px;
                    margin-right: 10px;
                }
                select {
                    &#location {
                        border-bottom: 3px solid #db0;
                        padding: 14px;
                        margin-right: 10px;
                    }
                }
                input[type="submit"] {
                    background-color: #ddbb00;
                    border-radius: 40px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    color: #000;
                    padding: 14px 58px;
                    border: 0px;
                }
            }
        }
    }
}

 /*===================================================
                      SERVICES AREA
  ====================================================*/
.our-services {
    padding: 100px 0px 70px;
    .heading {
        .title {
            h1 {
                color: #000;
            }
        }
        .discription {
            p {
                color: #767676;
            }
        }
    }
    .services-area {
        .our-identity {
            border: 1px solid #ddd;
            padding: 20px;
            .identity-img {
                margin-bottom: 20px;
                img {
                    max-height: 320px;
                    width: 100%;
                }
            }
            .id-text {
                .title {
                    margin-bottom: 18px;
                    h4 {
                        font-size: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .id-dis {
                    p {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                        color: #767676;
                        margin-bottom: 15px;
                    }
                }
            }
            .download {
                text-align: center;
                background-image: linear-gradient(#e10119, #f13d3d, #e10119);
                margin-left: -20px;
                margin-right: -20px;
                padding: 25px 0;
                margin-bottom: 30px;
                transition: all 0.5s ease;
            &:hover {
                background-image: linear-gradient(#f13d3d, #e10119, #f13d3d,);
            }
                span {
                    color: #fff;
                    font-size: 20px;
                    margin-right: 5px;
                }
                p {
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    color: #fff;
                    line-height: 26px;
                    display: inline-block;
                }
            }
        }
        .services {
            &.ser-bg-img {
                background-size: cover;
                background-repeat: no-repeat;
            }
            .service {
                border: 1px solid #d0d0d0;
                text-align: center;
                margin-bottom: 30px;
                margin-top: 65px;
                position: relative;
                padding-top: 65px;

                &.ser-obg {
                    background-color: rgba(255, 255, 255, 0.7);
                }

                &:hover {

                    .icon {
                        background-color: #db0;

                        i {
                            color: #fff;
                        }   
                    }
                        
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 130px;
                    width: 130px;
                    border: 1px solid #d0d0d0;
                    border-radius: 500px;
                    margin: auto;
                    transition: all 1s ease;
                    background: white;
                    z-index: 999;
                    position: absolute;
                    top: -65px;
                    left: 0;
                    right: 0;
                    i{
                        font-size: 40px;
                        color: #db0;
                    }
                }
                .ser-content {
                    

                    .title {
                        margin-top: 25px;
                        margin-bottom: 25px;
                        h4 {
                            font-size: 20px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 700;
                            color: #000;
                        }
                    }
                    .ser-dis {
                        p {
                            font-size: 16px;
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 26px;
                            color: #767676;
                            padding: 0 35px;
                        }
                    }
                    .btn {
                        margin-bottom: 8px;
                        padding-top: 10px;
                        padding-bottom: 11px;
                        a {
                            font-size: 16px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 400;
                            color: #db0;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

/*===================================================
                 ABOUT AREA
====================================================*/

.about {
    background: #000;
    padding-top: 100px;
    padding-bottom: 100px;

    .heading {
        .title {
            h1 {
                color: #fff;
            }
        }
        .discription {
            p {
                color: #767676;
            }
        }
    }
    .slider-forg {

        .slick-prev {
            left: 10px;
        }

        .slick-next {
            right: 10px;
        }

        .slick-slider {

            .slider-img {

                img {
                    max-height: 580px;
                    width: 100%;
                }
            }
        }
    }

    .slider-nav {

        .about-content {
            background-color: #fff;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-bottom: 28px;
            
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 15px;

            .content-text {
                padding: 30px 0px 30px 30px;
                grid-column: 1/11;

                .title {

                    h4 {
                        font-size: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .dis {

                    p {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }
            }
            .icon {
                background-color: #db0;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 11/-1;

                a {
                    font-size: 30px;
                    color: #000;

                    i {}
                }
            }
        }
    }
}

/*===================================================
                COUNTER AREA
====================================================*/

.counter-area {
    background-image: url(../images/overview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .coun-obg {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 115px 0;
    }

    .items {
        display: flex;
        justify-content: space-evenly;

        .item {
            text-align: center;

            .icon {
                height: 140px;
                width: 140px;
                border: 10px solid #3b3b40;
                border-radius: 500px;
                background-color: #ddbb00;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 30px;
                    color: #fff;
                }
            }
            .counters {
                margin: 20px 0;

                h1 {
                    font-size: 40px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    color: #fff;

                    span {}
                }
            }
            .count-cat {

                p {
                    font-size: 16px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}

/*===================================================
                 Our Team AREA
====================================================*/

.our-team {
    padding: 100px 0;

    .heading {

        .title {

            h1 {}
        }
        .discription {
            margin-bottom: 65px;

            p {}
        }
    }
    .team-slider {

        .slider {
            .slick-prev {
                left: -70px;
            }
            .slick-next {
                right: -70px;
            }

            &.members {

                .member {
                    margin: 0 15px;
                    position: relative;

                    &:hover {


                        .member-dit .icon {
                            padding: 29px 10px;
                        }

                        .member-dit .social-link {
                            opacity: 1;
                            z-index: 999;

                        }
                        .member-dit .name-pos {
                            position: absolute;
                            top: 0px;
                            bottom: 25%;
                            right: 0;
                            left: 0px;
                            background: #403f3f99;
                            padding: 0px;
                            display: grid;
                            grid-template-rows: repeat(12, 1fr);   
                            text-align: center;
                                                                              


                            h3 {
                                color: #fff;
                                grid-row: 6;
                            }
                            p {
                                color: #fff;
                                grid-row: 7;                        }
                        .member-img {
                        }


                        }
                    }

                    .member-img {

                        img {
                            width: 100%;
                        }
                    }
                    .member-dit {
                        border: 1px solid #949393;
                        /*margin-right: 15px;*/
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);

                        .name-pos {
                            padding: 20px 30px;
                            grid-column: 1/5;
                            display: block;
                            transition: all 0.5s ease;


                            h3 {
                                font-size: 20px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                color: #000;
                            }
                            p {
                                font-size: 16px;
                                font-family:'Lato', sans-serif;
                                font-weight: 400;
                                color: #272727;
                                line-height: 26px;
                            }
                        }
                        .icon {
                            grid-column: 5/-1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #db0;
                            padding-right: 10px;
                            padding-left: 10px;

                            i {
                                font-size: 30px;
                                color: #fff;
                            }
                        }
                        .social-link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 32px 15px;
                            grid-column: 1/5;
                            position: absolute;
                            opacity: 0;
                            transition: all 0.5s ease;


                            ul {
                                padding-left: 0;
                                margin-left: -5px;
                                list-style: none;
                                grid-column: 1/-1;

                                li {

                                    a {
                                        font-size: 16px;
                                        color: #707070;
                                        padding: 7px;
                                        border: 1px solid #707070;

                                        i {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*===================================================
                TESTIMONIAL AREA
====================================================*/

.testimonial {
    background-image: url(../images/overview.jpg);

    .tem-obg {
        background-color: rgba(0,0,0,0.7);

        .slider {

            .slick-prev,
            .slick-next {
                border: 0px;
                height: 35px;
                width: 35px;
                border-radius: 500px;

                &:before,
                &:after {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    position: absolute;
                    left: 0;
                    right: 0;
                    font-size: 20px;
                    transition: all 0.5s ease;
                }


                &:hover {
                    &:before {
                        color: #db0;
                    }
                }

                }

            .slick-prev {
                right: 50px;
                left: inherit;
                top: calc(65% - 19px);
                &:before {
                    content: "\f060";
                    top: calc(50% - 11px);
                }
            }
            .slick-next {
                top: calc(55% - 19px);
                right: 50px;
                &:before {
                    content: "\f061";
                    top: calc(50% - 11px);
                }
            }

            &.tem-slider {

                .single-person {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    padding: 150px 0 100px;
                    grid-gap:30px;

                    .tem-cont {
                        grid-column: 1/5;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: center;

                        .title {
                            margin-bottom: 25px;

                            h3 {
                                font-size: 32px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                line-height: 24px;
                                color: #fff;
                                position: relative;
                                display: inline-block;

                                &:before,
                                &:after {
                                    content: "";
                                    position: absolute;
                                    background-color: #db0;

                                }
                                &:after {
                                    top: 2px;
                                    right: -8px;
                                    width: 1px;
                                    height: 20px;
                                }
                                &:before {
                                    top: 11px;
                                    right: -32px;
                                    width: 24px;
                                    height: 1px;

                                }
                            }
                        }
                        .title-dis {

                            p {
                                font-size: 16px;
                                font-family: 'Lato', sans-serif;
                                font-weight: 400;
                                line-height: 26px;
                                color: #e9e9e9;
                            }
                        }
                    }
                    .tem-dis {
                        grid-column: 5/-1;
                        background-color: rgba(255, 255, 255, 0.2);
                        padding: 75px 130px 40px 60px;
                        border-radius: 20px;
                        position: relative;


                        .person-img {
                            position: absolute;
                            top: -50px;
                            left: 60px;

                            img {
                                border-radius: 500px;
                            }
                        }
                        .person-dit {

                            p {
                                
                                font-size: 16px;
                                font-family: 'Lato', sans-serif;
                                font-weight: 400;
                                line-height: 26px;
                                color: #e9e9e9;
                                font-style: italic;

                                span.pd {
                                    position: relative;

                                    &:after {
                                        content: "\f10e";
                                        font-family: "Font Awesome 5 Free";
                                        font-weight: 900;
                                        color: #db0;
                                        position: absolute;
                                        bottom: -10px;
                                        right: -32px;
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                        .person-name-pos {

                            p {
                                font-size: 20px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 400;
                                line-height: 24px;
                                color: #ddbb00;

                                span {
                                    font-size: 14px;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight: 300;
                                    line-height: 24px;
                                    color: #e9e9e9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*===================================================
                LATEST-PRIJECT AREA
====================================================*/

.latest-project {
    padding-top: 100px;
    padding-bottom: 100px;

    .heading {

        .title {

            h1 {}
        }
        .discription {

            p {}
        }
    }
    .lat-pro-cat-img {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(12, 1fr);

        .cat {
            grid-column: 1/3;

            ul {
                list-style: none;

                li {

                    a {
                        color: #707070;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 700;
                        line-height: 36px;

                        &:hover {
                            color: #db0;
                        }
                    }
                }
            }
        }
        .latest-images {
            grid-column:3/-1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5px;

            .image {
                position: relative;

                img {}
                a {

                    span {

                        &:after {
                            content: "\f0b2";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            color: #fff;
                            font-size: 30px;
                            background-color: #db0;
                            padding: 14px 20px;

                        }
                    }
                }
            }
        }
    }
}
/*===================================================
                OUR SCORE AREA
====================================================*/

.our-score {
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .our-score-obg {
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 100px;
        padding-bottom: 100px;

        .heading {

            .title {

                h1 {
                    color: #fff;
                }
            }
            .discription {

                P {
                    color: #767676;
                }
            }
        }
        .img-scorebord {
            display: grid;
            grid-gap: 30px;
            grid-template-columns:repeat(2, 1fr);

            .our-img {

                img {}
            }
            .score-bord {

                .title {
                    margin-top: 10px;
                    margin-bottom: 30px;

                    .heading {

                        h3 {
                            font-size: 20px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    .had-con {

                        p {
                            color:#C0C0C0;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            font-family: 'Lato', sans-serif;
                        }
                    }
                }
                .scores {
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    grid-gap: 38px;

                    .score {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-gap: 30px;

                        .graph {
                            grid-column: 1/3;

                            img {}
                        }
                        .graph-dis {
                            grid-column: 3/-1;
                            margin-left: -30px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            justify-content: center;

                            .g-title {

                                h3 {
                                    font-size: 20px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 900;
                                    line-height: 26px;
                                    color: #db0;
                                }
                            }
                            .g-con {

                                p {
                                    font-size: 16px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 400;
                                    line-height: 26px;
                                    color:#C0C0C0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*===================================================
                OUR BLOG AREA
====================================================*/

.our-blog {
    padding: 100px 0;

    .heading {

        .title {

            h1 {}
        }
        .discription {

            p {}
        }
    }
    .post-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        .post {

            .post-head {
                position: relative;

                .post-img {
                    box-shadow: rgba(0, 0, 0, 0.72) 0px -57px 11px -10px inset;

                    img {
                        position: relative;
                        z-index: -1;
                    }
                }
                .time-date {
                    position: absolute;
                    top: 0;
                    right: 30px;

                    ul {
                        list-style: none;
                        display: inline-block;
                        text-align: center;

                        li {
                            padding: 0px 17px;
                            background: #271f1f;
                            color: #db0;

                            &.date {

                                p{
                                    padding-top: 10px;
                                    padding-bottom: 3px;
                                    font-size: 24px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 900;
                                    line-height: 16px;
                                }
                            }
                            &.mont {

                                p {
                                    font-size: 16px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 400;
                                    line-height: 16px;
                                    padding-bottom: 5px
                                }
                            }
                            &.year {
                                background-color: #db0;

                                p {
                                    font-size: 16px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 700;
                                    line-height: 20px;
                                    color: #fff;
                                    padding-bottom: 5px;
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }
                .like,
                .comment,
                .user {
                    position: absolute;
                    bottom: 17px;
                    
                    ul {

                        li {

                            a {
                                color: #fff;
                                font-size: 16px;
                                font-family: 'Lato', sans-serif;
                                font-weight: 400;
                                text-decoration: none;
                                transition: all 0.5s ease;
                                &:hover {
                                    color: #db0;
                                }

                                i {}
                            }
                        }
                    }
                }
                .like {
                    left: 30px;

                    ul {

                        li {

                            a {
 
                                &:hover {

                                }

                                i {}
                            }
                        }
                    }
                }
                
                .comment {
                    left: 100px;

                    ul {

                        li {

                            a {

                                &:hover {
                                    
                                }


                                i {}
                            }
                        }
                    }
                }
                .user {
                    right: 30px;


                    ul {

                        li {

                            a {

                                i {}
                            }
                        }
                    }
                }
            }
            .post-title-dis {
                padding: 30px;
                padding: 30px;
                border: 1px solid #d6d4d4;
                border-top-width: 0px;

                .title {
                    margin-bottom: 20px;

                    h3 {
                        font-size: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        color: #000;

                    }
                }
                .post-dis {

                    p {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                        color: #707070;


                        &.read {
                            margin-top: 20px;
                            font-size: 16px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 700;
                            line-height: 24px;
                            color: #db0;
                        }
                    }
                }
            }
        }
    }
}

/*===================================================
                    CONUTCT US AREA
====================================================*/

.contuct {
    background-image: url("../images/overview.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .contuct-obg {
        background-color: rgba(0, 0, 0, 0.7);

        .contuct-text-img {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 30px;

            .text-area {
                grid-column: 1/9;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {

                    h2 {
                        font-size: 32px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        line-height: 42px;
                        color: #db0;
                    }
                }
                .dis {
                        margin: 10px 0 20px;

                    p {
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        line-height: 26px;
                        color: #767676;
                    }
                }
                .button {
                        padding-top: 20px;

                    a {
                        font-size: 16px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        line-height: 24px;
                        color: #000;
                        padding: 20px 40px;
                        border-radius: 30px;
                        text-decoration: none;
                        background-color: #db0;
                    }
                }
            }
            .our-img {
                grid-column: 9/-1;
                margin-top: -75px;

                img {}
            }
        }

    }

}
/*===================================================
                    PRICE AREA
====================================================*/

.pricing-area {
    padding: 100px 0;

    .heading {

        .title {

            h1 {}
        }
        .discription {

            p {}
        }
    }
    .pest-prising-table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .services-list {

            ul {
                list-style: none;
                display: grid;
                grid-template-rows: repeat(9, 1fr);
                border: 1px solid #ddd;
                padding-bottom: 60px;

                li {
                    padding-left: 30px;
                    padding-top: 40px;

                    &.head {
                        grid-row: 1/span 2;
                        background-color: #ddbb00;


                        p {
                            font-size: 16px;
                             font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 24px;
                            color: #fff;

                            &.title {
                                font-size: 20px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                line-height: 24px;
                                color: #fff;
                            }
                        }
                    }
                    &.service {

                        p {
                            font-size: 16px;
                             font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 24px;
                            color: #707070;
                        }
                    }
                }
            }
        }
        .service-item-basic,
        .service-item-standard,
        .service-item-premium {


            ul {
                list-style: none;
                display: grid;
                grid-template-rows: repeat(9, 1fr);
                border: 1px solid #ddd;
                padding-bottom: 60px;

                li {
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 40px;
                    text-align: center;
                    

                    &.head {
                        grid-row: 1/span 2;
                        background-color: #d78227;
                        display: grid;
                        grid-template-columns: 1fr 1fr;


                        .title-time {
                            text-align: left;

                            p {
                                font-size: 16px;
                                 font-family: 'Lato', sans-serif;
                                font-weight: 400;
                                line-height: 24px;
                                color: #fff;

                                &.title {
                                    font-size: 20px;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight: 700;
                                    line-height: 24px;
                                    color: #fff;
                                }
                            }
                            
                        }
                        .price {
                            text-align: right;
                            
                            p {
                                font-size: 32px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                line-height: 24px;
                                color: #fff;
                            }
                        }

                    }
                    &.correct {

                        p {
                            font-size: 16px;
                             font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 24px;
                            color: #399f06;
                        }
                    }
                    &.wrong {

                        p {
                            font-size: 16px;
                             font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            line-height: 24px;
                            color: #f02020;
                        }
                    }
                }
            }
        }
        .service-item-basic {


            ul {

                li {
                    

                    &.head {
                        background-color: #d78227;


                        .title-time {

                            p {

                                &.title {

                                }
                            }
                            
                        }
                        .price {
                            
                            p {

                            }
                        }

                    }
                    &.correct {

                        p {

                        }
                    }
                    &.wrong {

                        p {

                        }
                    }
                }
            }
        }
        .service-item-standard {


            ul {

                li {
                    

                    &.head {
                        background-color: #2491d6;

                        .title-time {

                            p {

                                &.title {

                                }
                            }
                            
                        }
                        .price {
                            
                            p {

                            }
                        }

                    }
                    &.correct {

                        p {

                        }
                    }
                    &.wrong {

                        p {

                        }
                    }
                }
            }
        }
        .service-item-premium {


            ul {

                li {
                    

                    &.head {
                        background-color: #6c1fdf;


                        .title-time {

                            p {

                                &.title {

                                }
                            }
                            
                        }
                        .price {
                            
                            p {

                            }
                        }

                    }
                    &.correct {

                        p {

                        }
                    }
                    &.wrong {

                        p {

                        }
                    }
                }
            }
        }
        
    }
}